<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/css/main.css">
    <title>Câmara Comunitária Largo da Batalha - footer</title>
</head>
<body>
<section class="container-footer">
    <div class="footer-texto">
        <p>Câmara Comunitária do Largo da Batalha</p>
        <p>Mais oportunidades. Mais conquistas. Juntas!</p>
        <p>Todos os direitos reservados©.</p>
    </div>
    <div class="redes-sociais">
        <a href="https://www.instagram.com/camarac_mulhereslb/" target="_blank" rel="noopener noreferrer">
            <img src="../assets/img/redes-sociais/insta.svg" alt="Icone do Instagram">
        </a>
        <a href="https://www.facebook.com/ccm.largo.da.batalha/" target="_blank" rel="noopener noreferrer">
            <img src="../assets/img/redes-sociais/face.svg" alt="Icone do Instagram">
        </a>
    </div>
</section>
</body>
</html>
