<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Câmara Comunitária Largo da Batalha - hero</title>
</head>
<body>
    <section class="containerHero body-gradient-animado">
        <div class="conteudo">
            <div class="frases-hero">
                <p class="slogan">
                   Transformando cada ideia em uma conquista concreta.
                </p>
                           <h2 class="fraseHero">
                <p>
                    Mais oportunidades <span class="destaque1"> para mulheres</span> impactarem o mundo!
                </p> 
                           </h2>
                           <p>
                A Câmara Comunitária Mulheres Largo da Batalha oferece cursos e capacitação para que mulheres conquistem sua independência e transformem suas vidas.
                           </p>
                          <a href="#cursos" class="link-icon-cursos">
                <span>
                    <i class="fa-solid fa-graduation-cap fa-beat-fade" style="color: #e91e63;"></i>
                </span>
                <section>
                    <p> Conheça nossos cursos</p>
                </section>
                <span>
                    <i class="fa-solid fa-arrow-right fa-rotate-90 fa-lg" style="color: #e91e63;"></i>
                </span>
                          </a>
                        </div>
                        <div class="img-hero">
                <img src="assets/img/equipe-ong.jpeg" alt="Foto dos colaboradores da ONG">
                        </div>
            </div>
        <div class="conteudo-valores">
            <section class="container-capacitacao">
                <div>
                    <i class="fa-solid fa-graduation-cap" style="color: #e91e63;"></i>
                </div>
                <h6>Capacitação</h6>
                <p>Cursos que transformam realidades.</p>
            </section>
            <section class="container-apoio">
                <div>
                    <i class="fa-solid fa-heart" style="color: #e91e63;"></i>
                </div>
                <h6>Apoio</h6>
                <p>Uma rede de acolhimento para todas.</p>
            </section>
            <section class="container-oportunidades">
                <div>
                    <i class="fa-solid fa-briefcase" style="color: #e91e63;"></i>
                </div>
                <h6>Oportunidades</h6>
                <p>Mais chances para o seu crescimento profissional.</p>
            </section>
            <section class="container-sororidade">
                <div>
                    <i class="fa-solid fa-people-group" style="color: #e91e63;"></i>
                </div>
                <h6>Sororidade</h6>
                <p>Mulheres apoiando mulheres.</p>
            </section>
        </div>
    </section>
</body>
</html>