<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Câmara Comunitária Largo da Batalha - hero</title>
</head>
<body>
    <section class="containerHero">
        <div class="conteudo">
            <p class="slogan">
                Transformando Sonhos em Realidade.
            </p>
           <h2 class="fraseHero">
            Não importa o tamanho do seu sonho! O primeiro passo é acreditar que ele é possível. Caminharemos ao seu lado, transformando cada ideia em uma conquista concreta.
           </h2>
        </div>
        <div class="img">
            <img src="assets/img/logo.png" alt="">
        </div>
    </section>
</body>
</html>