@import url(global.css);

.body-gradient-animado{
	background: linear-gradient(-45deg, #f48fb1, #7b5ba6, transparent, #e73c7e, transparent);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	min-height: 100vh;
	padding: 50px 0 0 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.containerHero{
	max-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.conteudo{
	padding: 40px;
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.frases-Hero{
	flex-basis: 30%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: start;
}


.slogan{
	font-size: 1.1rem;
	font-style: italic;
	background-color: var(--primary-fundo);
	padding: 5px;
}

.fraseHero{
	font-size: 4rem;
}

.destaque1{
	color: var(--secondary);
	font-weight: 700;
	font-style: italic;
}

.link-icon-cursos{
	background-color: var(--text-primary);
	padding: 10px;
	width: 45%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	border: none;
	border-radius: 10px;
	margin: 20px 0;
	cursor: pointer;
	color: var(--bg-primary);
	text-decoration: none;
	font-weight: 600;
}

.link-icon-cursos:hover{
	box-shadow: 1px 2px 10px rgb(73, 71, 71);
}

.img-hero {
	flex-basis: 80%;
	flex-grow: 1;
}

.img-hero img{
	display: block;
	margin: auto 0;
	width: 95%;
	transition: .5s ease;
}

.img-hero img:hover{
	transform: rotateZ(3deg) scale(1.1);
}

.conteudo-valores{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	background-color: var(--text-secondary);
	width: 100%;
	min-height: 10rem;
	padding: 25px;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
}

.conteudo-valores section{
	border: 1px solid rgb(212, 205, 205);
	padding: 60px;
	width: 300px;
	transition: .5s ease;
	margin-top: 60px;
}

.conteudo-valores section:hover{
	background-color: var(--primary-fundo);
}

.conteudo-valores h6{
	font-size: 1.2rem;
	color: var(--secondary);
	font-weight: 700;
	margin: 9px 0;
}

.conteudo-valores p{
	font-size: .9rem;
}

.container-sororidade{
	height: 215px;
}

@media screen and (max-width: 1024px){
	
	.containerHero{
		flex-direction: column;
	}

	.conteudo{
		text-align: center;
	}

	.slogan{
		text-align: center;
	}

	.conteudo{
		flex-direction: column;
	}

	.link-icon-cursos{
		margin: 50px auto;
	}

	.img-hero{
		margin: 45px 0;
	}

	.conteudo-valores{
		flex-direction: column;
		gap: 25px;
		padding: 50px 0;
	}
}

@media screen and (max-width: 414px) {

	.fraseHero{
		font-size: 3rem;
		margin: 30px 0;
	}

	.link-icon-cursos{
		width: 95%;
	}
}