@import url(global.css);
@import url(header.css);
@import url(hero.css);
@import url(footer.css);

#main {
  min-height: 100vh;
  background-color: var(--text-secondary);
}

.container-sobre,
.container-cursos,
.container-depoimentos,
.container-festividades {
  display: block;
  margin: 0 auto;
  padding: 35px;
  width: 90%;
}

#main h2 {
  margin: 35px 0;
  color: var(--secondary);
  font-weight: 900;
  text-align: center;
  font-size: 2rem;
  border-radius: 20px;
  background-color: var(--primary-fundo);
}

/* secção sobre */

.container-sobre p {
  margin: 10px 0;
  text-indent: 1.5rem;
  text-align: justify;
  font-size: 1.2rem;
}

/* secção cursos */

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursos-empreendedorismo,
.cursos-culinaria,
.cursos-estetica {
  width: 100%;
}

.titulo-card {
  font-size: 1.8rem;
  padding: 50px 0;
  text-align: center;
  color: var(--bg-primary);
  font-weight: 700;
}

.container-cards-cursos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.img-curso {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  transition: 0.5s ease;
  display: block;
  margin: 0 auto;
}

.img-curso:hover {
  border-radius: 0;
  transform: scale(1.1);
}

.titulo-curso {
  font-size: 1.6rem;
  text-align: center;
  margin: 20px 0;
}

/* festividades */

.container-carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel {
  display: flex;
  max-width: 400px;
  overflow: hidden;
}

.slides {
  justify-self: center;
  align-items: center;
}

.slide {
  display: block;
  width: 400px;
  height: 400px;
  object-fit: contain;
}

.legenda-img{
    text-align: center;
    margin: 30px 0;
    font-size: 1.6rem;
    color: var(--text-primary);
    font-weight: 800;
}

.esquerda,
.direita {
  position: absolute;
  top: 60%;
  transform: translateY(-60%);
  border: none;
  padding: 10px;
  border-radius: 20px;
  width: 59px;
  height: 55px;
  background-color: var(--bg-primary);
}

.esquerda {
  left: 15%;
}

.direita {
  right: 15%;
}

@media screen and (max-width: 1024px) {
  .container-cards-cursos {
    flex-direction: column;
  }

  .legenda-img{
    margin: 15px 0;
  }
}
