@import url(global.css);
@import url(header.css);
@import url(hero.css);
@import url(footer.css);

#main {
  min-height: 100vh;
  background-color: var(--text-secondary);
  width: 100%;
}

.container-sobre,
.container-cursos,
.container-depoimentos,
.container-festividades,
.container-projetos,
.container-apoie {
  display: block;
  margin: 0 auto;
  padding: 35px;
  width: 90%;
}

#main h2 {
  margin: 35px 0;
  color: var(--secondary);
  font-weight: 900;
  text-align: center;
  font-size: 2rem;
  border-radius: 20px;
  background-color: var(--primary-fundo);
}

/* secção sobre */

.container-sobre p {
  margin: 10px 0;
  text-indent: 1.5rem;
  text-align: justify;
  font-size: 1.2rem;
}

/* secção cursos */

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursos-empreendedorismo,
.cursos-culinaria,
.cursos-estetica {
  width: 100%;
}

.titulo-card {
  font-size: 1.8rem;
  padding: 50px 0;
  text-align: center;
  color: var(--bg-primary);
  font-weight: 700;
}

.container-cards-cursos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.img-curso {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  transition: 0.5s ease;
  display: block;
  margin: 0 auto;
}

.img-curso:hover {
  border-radius: 0;
  transform: scale(1.1);
}

.titulo-curso {
  font-size: 1.6rem;
  text-align: center;
  margin: 20px 0;
}

/* festividades */

.container-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel {
  display: flex;
  flex-direction: row;
  max-width: 400px;
  overflow: hidden;
}

.slides {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.slide {
  display: block;
  width: 400px;
  height: 400px;
  object-fit: contain;
}

.legenda-img {
  text-align: center;
  margin: 15px 0;
  font-size: 1.6rem;
  color: var(--text-primary);
  font-weight: 800;
}

.btn-img-carousel {
  margin: 15px 0;
}

.esquerda,
.direita {
  border: none;
  margin: 0 30px;
  padding: 8px;
  border-radius: 20px;
  width: 59px;
  height: 55px;
  background-color: var(--bg-primary);
}

.esquerda {
  left: 15%;
}

.direita {
  right: 15%;
}

/* projetos */

.container-img-projetos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card-projetos {
  transition: 0.5s ease;
  text-align: center;
}

.card-projetos:hover {
  transform: scale(1.2);
  box-shadow: 0 0 50px var(--text-primary);
  padding: 20px;
  margin: 10px;
  background-color: var(--primary);
  border-radius: 20px;
}

.card-img {
  width: 300px;
  height: 300px;
}

.legenda-img-projetos {
  margin: 10px 0;
  font-size: 1.4rem;
  font-weight: 600;
}

/* Depoimentos */

.container-carousel-videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carousel-videos {
  display: flex;
  flex-direction: row;
  max-width: 300px;
  overflow: hidden;
}

.videos {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.video {
  width: 300px;
}

.esquerda-videos,
.direita-videos {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  margin: 0 30px;
  padding: 8px;
  border-radius: 50px;
  width: 59px;
  height: 55px;
  background-color: var(--bg-primary);
}

.esquerda-videos {
  left: 25%;
}

.direita-videos {
  right: 25%;
}

/* apoie */

.apoie-banco-img{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.apoie-dados-banco h6{
  font-size: 3rem;
  text-align: center;
}

.deposito, 
.pix{
  text-align: center;
  margin: 20px 0;
}

.deposito h6,
.pix h6{
  font-size: 2rem;
}

.deposito p,
.pix p{
  font-size: 1.7rem;
  font-weight: 500;
}

.apoie-img img{
  width: 520px;
  border-radius: 50%;
}

@media screen and (max-width: 1024px) {
  .container-cards-cursos {
    flex-direction: column;
  }

  .container-img-projetos {
    flex-direction: column;
  }

  .container-carousel-videos {
    position: static;
  }

  .carousel-videos {
    width: 280px;
  }

  .video {
    width: 280px;
  }

  .btn-carousel-videos {
    margin: 20px;
  }

  .esquerda-videos,
  .direita-videos {
    top: 0;
    transform: translateY(0);
    position: static;
  }

  .esquerda-videos {
    left: 0%;
  }

  .direita-videos {
    right: 0;
  }
}

@media screen and (max-width: 425px) {
  .carousel {
    max-width: 250px;
  }

  .slide {
    width: 250px;
    height: 250px;
  }

  .esquerda,
  .direita {
    margin: 0 5px;
  }

  .card-projetos:hover {
    transform: scale(1.1);
    margin: 0;
  }

  .card-img {
    width: 250px;
    height: 250px;
  }

  .esquerda-videos,
  .direita-videos {
    margin: 0 15px;
    width: 50px;
  }

  .apoie-img img{
  width: 320px;
}
}
